.subscription-box{
    background-color: rgb(212, 116, 116);
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.subscription-box h1{
    font-size: 40px;
    font-weight: 600;
}

.subscription-box p{
    font-size: 18px;
    color: rgb(72, 72, 72);
    margin: 20px 0;
}

.subscription-box form{
    border: 1px solid rgb(99, 98, 98);
    border-radius: 50px;
    position: relative;
}
.subscription-box input{
    height: 45px;
    width: 500px;
    border: none;
    border-radius: 50px;
    padding-left: 20px;
    outline: none;
}


.subscribe-btn{
    position:absolute;
    right: 0px;
    height: 45px;
    width: 150px;
    border: none;
    border-radius: 50px;
    margin: 0;
    background-color: black;
    color: white;
}