.Form{
    margin-bottom: 20px;
    display: flex;
}
.Form input{
    flex-basis: 80%;
    height: 40px;
    margin-right: 5px;
    padding-left: 10px;
    border-radius: 7px;
    border: 2px solid rgb(22, 156, 102);
}
.Form button{
    flex-basis: 20%;
    border-radius: 7px;
    font-weight: 500;
    font-size: 15px;
    margin-left: 5px;
    transition: all 0.15s;
}

.updateBtn{
    background-color: rgb(10, 99, 55);
    color: white;
    border: none;
}
.updateBtn:active{
    background-color: rgb(21, 90, 55);
    scale: 1.02;
}
.cancelBtn{
    background: orange;
    color: white;
    border: none;
}
.cancelBtn:active{
    background-color: rgb(149, 111, 41);
    scale: 1.02;
}
.addBtn{
    border: none;
    background-color: rgb(10, 99, 55);
    color: white;
}
.addBtn:active{
    background-color:rgb(21, 90, 55) ;
    scale: 1.02;
}